.general-background{
  background-color: #2072FB;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  max-height: 80%;
  width: 60%;
  background-color: #F4F7FC;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

.login-logo {
  width: 200px;
  height: auto;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-inline: 10px;
}

.login-button {
  background-color: #2072FB;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1756c4;
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  max-height: 80%;
  min-width: 60%;
  max-width: 80%;
  background-color: #F4F7FC;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  padding-inline: 15px;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-inline: 15px;
}

.connected-button {
  background-color: #2072FB;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #1756c4
  ;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align:center;
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #2072FB;
  color: white;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

